body {
    background-color:#222222;
    color:#FFFFFF;
    margin:0px;
}
.settings {
    right:11px;
    top:18px;
    position: absolute;
}
.cart {
    right:11px;
    top:8px;
    position: absolute;
}
.settings:hover {
    opacity: .7;
    cursor:pointer;
}
.settingsButton {
    float:left;
    font-size: 20px;
}
#settingsMenu {
    background-color: #00FF00;
    left:0px;
    top:69px;
    position: fixed;
    width:100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.itemOld {
    padding:20px;
    font-size: 25px;
    font-family: Arial, sans-serif;
    border:2px solid #222222;
    color:#FFFFFF;
    background-color:#000000;
    width: calc(100% - 44px);
    height: auto;
    margin-top:-1px;
    left:0px;
} 
.item {
    font-size: 25px;
    font-family: Arial, sans-serif;
    color:#FFFFFF;
    background-color:#000000;
    width: 100%;
    left:0px;
    position: relative;
} 
.item:hover {
    opacity: .7;
    cursor:pointer;
}
.itemSelected {
    font-size: 25px;
    font-family: Arial, sans-serif;
    color:#FFFF00;
    background-color:#095a02;
    width: 100%;
    height: 90px;
    left:0px;
    position: relative;
} 
.itemDollars {
    float: left;
    position: relative;
}
.itemSelectors {
    background-color:#111111;
    left:0px;
    padding:10px;
    width: calc(100% - 22px);
    border:1px solid #000000;
    position:relative;
    color: #BBBBBB;
    font-size: 18px;
    text-align: right;
    text-shadow: 1px 1px #000000;
}
.itemRemove {
    padding: 10px;
    left:0px;
    position:relative;
    color:#FFFFFF;
}
.itemRemove:hover {
    opacity: .7;
    cursor:pointer;
}
.price {
    top: -10px;
    position: relative;
    float: left;
    width: auto;
}
.input {
    background-color: #333333;
    left:0px;
    top:0px;
    position: fixed;
    width:100%;
    z-index: 100;
}
#indexSelector {
    width:100%;
    position:absolute;
    margin-top:12px;
    margin-left:10px;
}
#quantitySelector {
    margin-left:3px;
}
.menu {
    width: 100%;
    left:0px;
    margin-top: 70px;
    margin-bottom: 160px;
}
.inputItem {
    font-size: 20px;
    width:calc(100% - 100px);
    margin: 20px;
}
.total {
    font-family: Arial, sans-serif;
    font-size: 3vw;
    position: fixed;
    bottom:0px;
    padding: 10px;
    width: calc(100% - 20px);
    background-color: #333333;
    height: auto;
}
@media screen and (min-width: 1000px) {
    .total {
        font-size: 30px;
    }
}
@media screen and (max-width: 700px) {
    .total {
        font-size: 20px;
    }
}
.totalItems {
    color:#CCCCCC;
    font-weight:bolder;
    left:10px;
    text-align: right;
    position: absolute;
}
.totalDollars {
    color:#CCCCCC;
    font-weight:bolder;
    right: 0px;
    text-align: right;
    position: relative;
}
.taxLabel {
    font-size: 9px;
}
#indexSelection {
    top:0px;
    position: relative;
    float: right;
}
#quantitySelection {
    top:0px;
    position: relative;
    float: right;
}
.selectionLabel {
    position:relative;
    margin-left: 5px;
}
.lastPurchase {
    margin-left: -55px;
    font-size:14px;
    bottom:11px;
    position: absolute;
}
#lastPurchaseDays {
    margin-left:-45px;
    font-size:20px;
    top:2px;
    position:absolute;
}
.lastPurchaseDays {
    font-size:30px;
}
.taxLabel {
    margin-left: -18px;
    font-size:17px;
    top:3px;
    position: absolute;
}
.aisleLabel {
    margin-left: -18px;
    font-size:17px;
    top:0px;
    position: absolute;
}
.inCartIcon {
    top:8px;
    margin-right: 10px;
    position:relative;
}
#tax {
    margin-top:12px;
}
select {
    margin-top:8px;
}
#select {
    top:-2px;
    position: relative;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
}
.flex-container > div {
    width: 17%;
    text-align: center;
}
.flex-container > #aisle {
    width: 32%;
    text-align: center;
}
.itemTitle {
    margin-right:55px;
}